body{
    background-image: linear-gradient(90deg,#831d1c 35%, #000000 130% );
}



.Nav_container {
    display: flex;
    justify-content: end;
    padding: 4px;
    gap:20px;
   
}

.Nav_container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.Nav_container a:hover{
    text-decoration: none;
    color:
}