* {
    margin: 0;
}

ul {
    padding-inline-start: 0;
}

body{
    background-image: linear-gradient(60deg,#831d1c 35%, #000000 130%);
}

header{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

.title_header{
    display: flex;
    justify-content: flex-start;
    width: 400px;
    font: bold;
    font-size: 3em;
    margin-left: 50px;
}

header h1 a {
    text-decoration: none;
    color: #5e1211;
}

.ul_header{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.link_header {
    color: #000000;
    text-decoration: none;
    font-size: larger;
    font: bold;
}

.link_header:hover{
    color: #5e1211;
    text-decoration: underline;   
}

.all_descritivos {
    display: flex;
    flex-direction: column;
}

.subTitle_body {
    color: #FFFFFF;
    padding: 40px 20px 20px 40px;
    font-size: xx-large;
}

.img_p_descricao {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.img_main_descricao {
    width: 450px;
    height: 300px;
    margin-left: 100px;
    border-radius: 15%;
    box-shadow: -10px 5px 15px rgb(63, 16, 16);
}

.p_main_descricao {
    color: white;
    font-size: large;
    width: 600px;
}

.section2 {
    margin-top: 50px;
}

.section2 h1{ 
    display: flex;
    justify-content: center;
    color: white;
}

.section2 p{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

.section2 img{
    width: 10%;

}

.alinhamento{
    display: flex;
    justify-content: space-around;
    gap: 4px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    
}

.botao a {
    text-decoration: none;
    color: #831d1c;
}


.galeria{
    gap: 10px;
    padding: 10px;
   
}

.galeria h1{
    color: white;
}

.galeria img{
    width: 20%;
    gap: 10px;
    margin: 20px;
    border-radius: 30px;

}
