@import url('./efeitos.css');
* {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

body {
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100px;
  background-color: #5e1211;
}

.title_header {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  font: bold;
  font-size: 3em;
  margin-left: 50px;
}

.titulo1 {
  font-size: 30px;
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

.ul_header {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.link_header {
  color: #ffffff;
  text-decoration: none;
  font-size: larger;
  font: bold;
}

.link_header:hover {
  text-decoration: underline;
}

.all_descritivos {
  display: flex;
  flex-direction: column;
}

.subTitle_body {
  color: #5e1211;
  padding: 40px 20px 20px 120px;
  font-size: xx-large;
}

.img_p_descricao {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
  padding: 0px 0px 0px 80px;
  font-family: "Roboto", sans-serif;
}

.img_main_descricao {
  width: 800px;
  height: 475px;
  margin-left: 100px;
  border-radius: 5%;
}

.p_main_descricao {
  color: #000;
  font-size: large;
  width: 530px;
}

.section2 {
  margin-top: 50px;
}

.section2 h1 {
  display: flex;
  justify-content: center;
  color: #5e1211;
  padding: 10px;
  margin: 20px;
  font-size: xx-large;
}

.section2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #000;
  font-size: large;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  width: 1500px;
  text-align: center;
}

.alinhamento {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
}

.botao a {
  text-decoration: none;
  color: #831d1c;
}

.galeria {
  gap: 10px;
  padding: 10px;
}

.galeria h1 {
  color: white;
}

.galeria img {
  width: 20%;
  gap: 10px;
  margin: 20px;
  border-radius: 30px;
}

.section3 h1 {
  display: flex;
  justify-content: center;
  color: #5e1211;
  
}

.section3 p {
  display: flex;
  justify-content: center;
  align-items: left;
  color: #5e1211;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.ProdutosOficiais {
  display: flex;
  justify-content: center;
}
.Produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.Produtos img {
  width: 30%;
  border-radius: 20px;
}

footer {
  background-color: #5e1211;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

